---
import { Image } from "astro:assets";
// import Hamburger from "../components/Hamburger.astro";
// import Menu from "../components/Menu.astro";
// import Social from "../components/Social.astro";
import logoIcon from "../assets/logoIcon.svg";
import ppText from "../assets/ppText.svg";
import bicyclesText from "../assets/bicyclesText.svg";
import socialFacebook from "../assets/socialFacebook.svg";
import socialInstagram from "../assets/socialInstagram.svg";
---

<!-- Header -->
<header class="flex h-20 flex-none border-b-2 border-yellow-600 bg-black">
  <!-- Logo -->
  <a class="flex gap-3" href="/">
    <Image
      src={logoIcon}
      alt="Pink Puffin Icon"
      class="ml-2.5 mt-2.5 h-14 w-14"
    />
    <div class="flex w-32 flex-none flex-col justify-center gap-3">
      <Image src={ppText} alt="Pink Puffin" class="w-5/6" />
      <Image src={bicyclesText} alt="bicycles" class="w-full pl-0.5" />
    </div>
  </a>
  <!-- Sidebar -->
  <div class="absolute right-0 flex max-h-svh flex-col items-end">
    <!-- Hamburger -->
    <button
      id="hamburger"
      class="flex h-20 w-20 flex-none flex-col justify-center gap-2 border-l border-white/10 p-5"
    >
      <span
        id="hamburger-top"
        class="h-1 w-full rounded-md bg-white transition-transform"></span>
      <span
        id="hamburger-mid"
        class="h-1 w-4/5 rounded-md bg-white opacity-100 transition-opacity"
      ></span>
      <span
        id="hamburger-bot"
        class="h-1 w-full rounded-md bg-white transition-transform"></span>
    </button>
    <!-- Menu -->
    <div
      id="menu-container"
      class="delay-50 flex grow opacity-0 transition-opacity"
    >
      <nav
        style="display:none"
        id="menu"
        class="w-52 flex-col items-end rounded-bl-2xl bg-black/90 pb-20 text-xl font-extralight text-white"
      >
        <a
          class="menu-link flex flex-1 items-center border-b border-black/30 pr-4"
          href="/custom"
        >
          Custom Bikes</a
        >
        <a
          class="menu-link flex flex-1 items-center border-b border-black/30 pr-4"
          href="/brands/">Bike Brands</a
        >
        <a
          class="menu-link flex flex-1 items-center border-b border-black/30 pr-4"
          href="/kidsbikes/">Kids' Bikes</a
        >
        <a
          class="menu-link flex flex-1 items-center border-b border-black/30 pr-4"
          href="/fitting/">Bike Fitting</a
        >
        <a
          class="menu-link flex flex-1 items-center border-b border-black/30 pr-4"
          href="/services/">Services</a
        >
        <a
          class="menu-link flex flex-1 items-center border-b border-black/30 pr-4"
          href="/about/">About</a
        >
        <a
          class="menu-link flex flex-1 items-center border-b border-black/30 pr-4"
          href="/contact/">Contact</a
        >
        <!-- <Social /> -->
        <nav class="flex flex-1 items-center gap-5 pr-4">
          <a
            href="https://www.facebook.com/p/Pink-Puffin-Bicycles-100089665568808/"
          >
            <Image src={socialFacebook} alt="Facebook icon" class="h-8 w-8" />
          </a>
          <a href="https://www.instagram.com/pinkpuffinbicycles/">
            <Image src={socialInstagram} alt="Instagram icon" class="h-8 w-8" />
          </a>
        </nav>
      </nav>
    </div>
  </div>
</header>
