---
import StyleBarsLayout from "../layouts/StyleBarsLayout.astro";
import Prose from "../components/Prose.astro";
const { pageData } = Astro.props;
const tw = (strings, ...values) => String.raw({ raw: strings }, ...values);

// two column layout trigger
let imageColumnClasses = tw`flex flex-col items-center gap-2 bg-black p-4 md:p-3 lg:gap-4 lg:p-6 xl:p-8 2xl:p-12`;
if (pageData.data.title === "Bike Brands" || pageData.data.title === "Demo") {
  imageColumnClasses = tw`flex flex-col items-center gap-2 bg-black p-4 md:p-3 lg:gap-4 lg:p-6 xl:p-8 2xl:grid 2xl:grid-flow-dense 2xl:grid-cols-2 2xl:place-items-center 2xl:p-12`;
}
---

<StyleBarsLayout>
  <div class="grid grow grid-cols-1 sm:grid-cols-2">
    <section
      class="flex flex-col items-center bg-[#F8D1D1] p-2 md:p-3 lg:p-8 xl:p-8 2xl:p-12"
    >
      <Prose>
        <slot />
      </Prose>
    </section>
    <section class={imageColumnClasses}>
      {
        // page images with / without links
        pageData.data.images.map((element) => {
          if (element.link) {
            return (
              <div class="group relative w-full max-w-96 xl:max-w-[69%] 2xl:max-w-[470px]">
                <img
                  src={element.image}
                  alt={element.alt}
                  class={
                    pageData.data.title === "Demo"
                      ? "aspect-[16/9] object-cover"
                      : ""
                  }
                />
                <a
                  href={element.link}
                  target="_blank"
                  class="absolute right-0 top-0 origin-top-right rounded-bl-md bg-[#EC6FA7] px-5 py-1 font-mono transition group-hover:scale-110"
                >
                  visit =&gt;
                </a>
              </div>
            );
          } else {
            return (
              <div class="w-full max-w-96 xl:max-w-[69%] 2xl:max-w-[470px]">
                <img
                  src={element.image}
                  alt={element.alt}
                  class={
                    pageData.data.title === "Demo"
                      ? "aspect-[16/9] object-cover"
                      : ""
                  }
                />
              </div>
            );
          }
        })
      }
    </section>
  </div>
</StyleBarsLayout>
